.button {
    padding: 10px 15px;
    color: var(--color-light);
    font-weight: 700;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 14px;
    @include flex-center;
    transition: all 0.3s;
    text-transform: capitalize;

    &Active {
        background-color: var(--color-additional-light);
    }

    &Accent {
        background-color: var(--color-dark);
    }

    @media (hover: hover) {
        &:hover {
            background-color: var(--color-additional);
        }
    }

    @media (max-width: 770px) {
        font-size: 12px;
        padding: 10px;
    }
}