.favourites {
    padding-block: 150px 50px;
    min-height: 100vh;
    background-color: var(--color-dark);

    &Title {
        border-bottom: 1px solid var(--color-grey);
        padding-bottom: 20px;
    }

    &Wrapper {
        display: flex;
        justify-content: center;
    }

    &Icon {
        width: clamp(3.125rem, 2.25rem + 4.38vw, 7.5rem);
        height: auto;
        -webkit-animation: rotateAnim 5s linear infinite;
        animation: rotateAnim 5s linear infinite;
    }

    &List {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-flow: row;
        gap: 25px;
        margin-top: 50px;
        width: 100%;

        @media (max-width: 1450px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (max-width: 1300px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 1000px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 750px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &Buttons {
        padding-block: 40px;
        @include flex-center;
    }
}

@-webkit-keyframes rotateAnim {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateAnim {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}