@use "@styles/mixins"as *;

html,
body {
    width: 100%;
    overflow-x: hidden;
    scrollbar-width: thin;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    font-size: 16px;
    font-family: var(--font-family-base);
    color: var(--color-light);
    font-weight: 400;
    background-color: var(--color-dark);
}

button {
    @include reset-button;
}

a {
    text-decoration: none;
    color: currentColor;
}

h1 {
    font-size: clamp(3.125rem, 1.5rem + 8.13vw, 11.25rem);
}

h2 {
    font-size: clamp(2.188rem, 1.375rem + 4.06vw, 6.25rem);
}

h3 {
    font-size: 25px;
}

h1,
h2,
h3 {
    line-height: 1.1;
    font-weight: 400;
    font-family: var(--font-family-accent);
    text-transform: uppercase;
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    padding-inline: var(--container-padding-x);
    margin-inline: auto;
}

.App {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popup-opened {
    overflow: hidden;
}

.active {
    background-color: var(--color-additional);
}