:root {
    --color-dark: #060807;
    --color-additional: #1B262C;
    --color-additional-light: #475B66;
    --color-accent: #d90429;
    --color-grey: rgb(255 255 255 / 0.2);
    --color-light: #e0e1dd;

    --container-padding-x: 20px;
    --container-width: 1600px;
    --border-radius: 10px;
    --section-block: clamp(6.25rem, 5.625rem + 3.13vw, 9.375rem);

    --header-height: 100px;

    --font-family-base: 'Montserrat', sans-serif;
    --font-family-accent: 'FarCry', sans-serif;
}