:root {
    --color-dark: #060807;
    --color-additional: #1B262C;
    --color-additional-light: #475B66;
    --color-accent: #d90429;
    --color-grey: #778da9;
    --color-light: #e0e1dd;

    --container-padding-x: 20px;
    --container-width: 1600px;
    --border-radius: 5px;

    --header-height: 100px;

    --font-family-base: 'Montserrat', sans-serif;
    --font-family-accent: 'FarCry', sans-serif;
}