.header {
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 99;
    height: var(--header-height);

    &Inner {
        @include flex-between;
        min-height: var(--header-height);
    }
}