.footer {

    &Inner {
        @include flex-between;
        padding-block: 30px;
        border-top: 1px solid var(--color-grey);

        @media (max-width: 750px) {
            flex-direction: column-reverse;
            row-gap: 15px;
        }
    }

    &List {
        @include flex-center;
        -moz-column-gap: 10px;
        column-gap: 10px;
    }

    &Link {
        text-transform: capitalize;
        padding: 10px 15px;
        background-color: var(--color-additional);
        border-radius: var(--border-radius);
        font-weight: 700;
        font-size: 14px;
        display: inline-block;
        transition: all 0.3s;

        @media (max-width: 770px) {
            font-size: 12px;
            padding: 10px;
        }

        @media (hover:hover) {
            &:hover {
                background-color: var(--color-additional-light);
            }
        }
    }
}