.search {
    position: relative;
    width: 300px;

    @media (max-width: 650px) {
        width: 100%;
    }

    &Input {
        background-color: var(--color-additional);
        background-image: linear-gradient(to right, var(--color-additional), var(--color-dark));
        color: var(--color-light);
        border: none;
        padding: 10px 10px 10px 40px;
        width: 100%;
        border-radius: var(--border-radius);

        &::-webkit-input-placeholder {
            color: var(--color-grey);
        }

        &::-moz-placeholder {
            color: var(--color-grey);
        }

        &:-ms-input-placeholder {
            color: var(--color-grey);
        }

        &::-ms-input-placeholder {
            color: var(--color-grey);
        }

        &::placeholder {
            color: var(--color-grey);
        }

    }

    &Icon {
        position: absolute;
        top: 50%;
        left: 8px;
        transform: translateY(-50%);
    }
}