.game {
    padding-block: 200px 50px;
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;

    @media (max-width: 1050px) {
        background-size: 200%;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, rgb(0 0 0 / 0.6) 0%, var(--color-dark) 50vh);
        z-index: 0;
    }

    &Container {
        z-index: 1;
        position: relative;
    }

    &Content {
        max-width: 900px;
    }

    &Nav {
        color: rgb(117, 117, 117);
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &Back {
        transition: all 0.3s;

        &:hover {
            color: var(--color-light);
        }
    }

    &Title {
        font-size: clamp(2.5rem, 2.25rem + 1.25vw, 3.75rem);
    }

    &Info {
        @include flex-between;
        padding-block: 20px;
        width: clamp(12.5rem, 11.875rem + 3.13vw, 15.625rem);

        div {
            display: flex;
            flex-direction: column;

            span {
                &:nth-child(1) {
                    text-transform: uppercase;
                    font-weight: 700;
                    color: var(--color-accent);
                }

                &:nth-child(2) {
                    font-size: clamp(1.25rem, 1.125rem + 0.63vw, 1.875rem);
                    font-family: var(--font-family-accent);
                }
            }
        }
    }

    &Link {
        text-transform: capitalize;
        color: var(--color-additional-light);
        font-weight: 700;
        display: inline-flex;
        align-items: center;
        -moz-column-gap: 10px;
        column-gap: 10px;
        transition: all 0.3s;

        &Icon {
            fill: var(--color-additional-light);
            transition: all 0.3s;
        }

        &:hover {
            color: var(--color-additional);

            .gameLinkIcon {
                transform: translateX(10px);
            }
        }
    }
}