.card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 450px;
    border-radius: var(--border-radius);

    &Content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 0.7);
    }

    &Title {
        padding: 15px;
        font-size: 18px;
    }

    &Info {
        padding: 15px;
        @include flex-between;
    }

    &Rating {
        color: #6dc849;
        border: 1px solid;
        border-radius: 5px;
        font-weight: 700;
        width: 45px;
        height: 30px;
        @include flex-center;
        font-size: 14px;
    }

    &Icon {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        transition: all 0.3s;

        @media (hover: hover) {
            &:hover {
                fill: var(--color-accent);
            }
        }
    }
}