.sort {
    position: relative;
    width: 200px;
    cursor: pointer;

    @media (max-width: 650px) {
        width: 100%;
    }

    &Label {
        background-color: var(--color-additional);
        background-image: linear-gradient(to right, var(--color-additional), var(--color-dark));
        color: rgb(255 255 255 / 0.6);
        padding: 10px;
        border-radius: var(--border-radius);
        text-align: center;

        b {
            color: var(--color-light);
        }
    }

    &Popup {
        position: absolute;
        left: 0;
        top: 60px;
        width: 100%;
        z-index: 10;
        background-color: var(--color-additional-light);
        border-radius: var(--border-radius);
        transition: all 0.3s;
    }

    &List {
        padding: 15px;
        @include flex-center;
        flex-direction: column;
        row-gap: 5px;
        text-transform: capitalize;

        li {
            cursor: pointer;
            padding: 10px 15px;
            width: 100%;
            text-align: center;
            border-radius: var(--border-radius);
            transition: all 0.3s;

            @media (hover:hover) {
                &:hover {
                    background-color: var(--color-additional);
                }
            }
        }
    }
}

.isActive {
    background-color: var(--color-additional);
}