.nav {
    &List {
        @include flex-center;
        -moz-column-gap: 10px;
        column-gap: 10px;
    }

    &Item {
        @include flex-center;
    }

    &Link {
        @include square(54px);
        border-radius: 50%;
        display: inline-block;
        transition: all 0.3s;

        @media (hover:hover) {
            &:hover {
                background-color: var(--color-additional);
            }
        }
    }
}

.favourites {
    background: url('@assets/icons/heart.svg') center / 50% no-repeat;
    position: relative;

    &Counter {
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--color-accent);
        @include square(25px);
        @include flex-center;
        border-radius: 50%;
        font-size: 12px;
        transition: all 0.3s;
    }
}

.games {
    background: url('@assets/icons/cube.svg') center / 50% no-repeat;
}